<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Juan Pérez Arriaga (3)</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-fab right top edge>
        <button ion-fab>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-fab-list>
            <button ion-fab color="light" (click)="viajesAsignados()">
                <ion-icon name="bus"></ion-icon>
            </button>
            <button ion-fab color="sync" (click)="redirectSync()">
                <ion-icon name="sync"></ion-icon>
            </button>
            <button ion-fab color="secondary">
                <ion-icon name="cog"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <ion-card *ngFor="let viaje of listaViajesLocales; let i = index">
        <ion-item>
            <ion-icon name="speedometer" item-left></ion-icon>
            <h2>Concentrado #{{viaje.idConcentrado}}</h2>
            <p>Aceptado 11/01/17 11:34</p>
        </ion-item>
        <sebm-google-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom">
            <sebm-google-map-marker [latitude]="map.lat" [longitude]="map.lng">
                <sebm-google-map-info-window>
                    <strong>My location</strong>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
        </sebm-google-map>
        <ion-item>
            <ion-icon name="home" item-left></ion-icon>
            <h2>Origen</h2>
            <p>{{viaje.idOrigen}} - {{viaje.origenNombre}}</p>
        </ion-item>
        <ion-item>
            <ion-icon name="trending-up" item-left></ion-icon>
            <h2>Destino</h2>
            <p> {{viaje.destino}} </p>
        </ion-item>
        <ion-item>
            <span>{{viaje.horasDistancia}} hr</span>
            <span>({{viaje.kilometrosDistancia}} km)</span>
        </ion-item>
        <ion-item>
            <button *ngIf="viaje.idEstatus == 2"  ion-button icon-left clear item-right (click)="AceptaViaje(viaje.idViaje, viaje.idOrigen, viaje.idConcentrado, i)" color="sync">
                <ion-icon name="checkmark-circle"></ion-icon>
                Aceptar
            </button>
            <button *ngIf="viaje.idEstatus == 2"  ion-button icon-left clear item-right (click)="muestraMotivos(viaje.idViaje, viaje.idOrigen, viaje.idConcentrado, i)" color="danger">
                <ion-icon name="hand"></ion-icon>
                Rechazar
            </button>
            <button *ngIf="viaje.idEstatus == 3"  ion-button icon-left clear item-right (click)="openModal()" color="sync">
                <ion-icon name="checkmark-circle"></ion-icon>
                Iniciar Viaje
            </button> 
            <button *ngIf="viaje.idEstatus == 5"  ion-button icon-left clear item-right (click)="TerminarViaje(viaje.idViaje, viaje.idOrigen, viaje.idConcentrado, i)" color="sync">
                <ion-icon name="checkmark-circle"></ion-icon>
                Llegada
            </button>           
        </ion-item>
    </ion-card>

    <!--<ion-card>  

        <ion-item>
            <button ion-button icon-left clear item-right (click)="terminaViaje()" color="sync">
                <ion-icon name="checkmark-circle"></ion-icon>
                Aceptar
            </button>
            <button ion-button icon-left clear item-right (click)="openParadas()" color="secondary">
                <ion-icon name="hand"></ion-icon>
                R
            </button>
            <button ion-button icon-left clear item-right (click)="openIncidentes()" color="danger">
                <ion-icon name="alert"></ion-icon>
                Incidente
            </button>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" item-left></ion-icon>
            <h2>Concentrado #XXXXX</h2>
            <p>Aceptado 11/01/17 11:34</p>
        </ion-item>
        <sebm-google-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom">
            <sebm-google-map-marker [latitude]="map.lat" [longitude]="map.lng">
                <sebm-google-map-info-window>
                    <strong>My location</strong>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
        </sebm-google-map>
        <ion-item>
            <ion-icon name="home" item-left></ion-icon>
            <h2>Origen</h2>
            <p>10 - CEDIS COB</p>
        </ion-item>
        <ion-item>
            <ion-icon name="trending-up" item-left></ion-icon>
            <h2>Destino</h2>
            <p> 654654|0 - TIENDA DEL SUR, Destino: 654655|0 - TIENDA DEL NORTE, Destino: 654656|0 - TIENDA DEL PACIFICO </p>
        </ion-item>
        <ion-item>
            <span item-left>4 hr</span>
            <span item-left>(32.6 km)</span>
        </ion-item>
        <ion-item>
            <button ion-button icon-left clear item-right  (click)="IniciarViaje(viaje.idViaje, viaje.idOrigen, viaje.idConcentrado, viaje.economico)">
                <ion-icon name="play"></ion-icon>
                Iniciar
            </button>
        </ion-item>
    </ion-card>-->

    <!--<ion-card>        
        <ion-item>
            <ion-icon name="speedometer" item-left></ion-icon>
            <h2>Concentrado #XXXXX</h2>
            <p>Aceptado 11/01/17 11:34</p>
        </ion-item>
        <sebm-google-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom">
            <sebm-google-map-marker [latitude]="map.lat" [longitude]="map.lng">
                <sebm-google-map-info-window>
                    <strong>My location</strong>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
        </sebm-google-map>
        <ion-item>
            <ion-icon name="home" item-left></ion-icon>
            <h2>Origen</h2>
            <p>10 - CEDIS COB</p>
        </ion-item>
        <ion-item>
            <ion-icon name="trending-up" item-left></ion-icon>
            <h2>Destino</h2>
            <p> 654654|0 - TIENDA DEL SUR, Destino: 654655|0 - TIENDA DEL NORTE, Destino: 654656|0 - TIENDA DEL PACIFICO </p>
        </ion-item>
        <ion-item>
            <span item-left>4 hr</span>
            <span item-left>(32.6 km)</span>
        </ion-item>
        <ion-item>
            <button ion-button icon-left clear item-right (click)="startManionbra()" color="sync">
                <ion-icon name="play"></ion-icon>
                Iniciar Maniobra
            </button>
            <button ion-button icon-left clear item-right (click)="showAnden()" color="secondary">
                <ion-icon name="checkmark-circle"></ion-icon>
                Andén
            </button>
            <button ion-button icon-left clear item-right (click)="finishManiobra()" color="danger">
                <ion-icon name="alert"></ion-icon>
                Finalizar Maniobra
            </button>
        </ion-item>
    </ion-card>-->
</ion-content>